.Red {
	background-color: red !important;
}

.Green {
	background-color: green !important;
}

.Clicked {
	background-color: gray !important;
}
/* .allClicked {
	background-color: aqua !important;
} */
